.no-padding {
  padding: 0;
}

#ok-header #ok-header__title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 31vh;
  background: #000;
  text-align: center;
  font-family: "myriad-pro", "source-han-sans-japanese", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
#ok-header #ok-header__title .ok-header__logo--mark {
  width: 30%;
  margin: 0 auto;
}
#ok-header #ok-header__title .ok-header__logo--color {
  fill: white;
}
#ok-header #ok-header__title h1 {
  font-size: 1.8rem;
  font-weight: 700;
  color: white;
}
#ok-header #ok-header__title h2 {
  font-size: 0.7rem;
  font-weight: 700;
  color: white;
}
#ok-header #ok-header__discription {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 19vh;
  text-align: center;
  font-family: "adobe-jenson-pro", "source-han-serif-japanese", Georgia, "Times New Roman", Times, serif;
}
#ok-header #ok-header__discription h1 {
  font-size: 1.3rem;
}
#ok-header #ok-header__discription h2 {
  margin-bottom: 0;
  font-size: 0.8rem;
  font-weight: 700;
  font-feature-settings: "palt";
}

@media (min-width: 576px) {
  #ok-header #ok-header__title {
    height: 50vh;
  }
  #ok-header #ok-header__discription {
    height: 40vh;
  }
}
@media (min-width: 768px) {
  #ok-header #ok-header__title {
    height: 50vh;
  }
  #ok-header #ok-header__title h1 {
    font-size: 3rem;
  }
  #ok-header #ok-header__title h2 {
    font-size: 1.2rem;
  }
  #ok-header #ok-header__discription {
    height: 40vh;
    background: black;
    color: white;
    border-top: white solid 1px;
  }
  #ok-header #ok-header__discription h1 {
    margin-bottom: 1.5rem;
    font-size: 2rem;
  }
  #ok-header #ok-header__discription h2 {
    font-size: 1.4rem;
  }
}
#ok-main-contact {
  display: flex;
  height: 43vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-top: #000 solid 1px;
}
#ok-main-contact #ok-main-contact__title {
  margin-bottom: 2rem;
}
#ok-main-contact #ok-main-contact__title h1 {
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
  font-weight: 700;
  color: black;
}
#ok-main-contact #ok-main-contact__title h2 {
  font-size: 0.6rem;
  font-weight: 700;
  color: black;
}
#ok-main-contact #ok-main-contact__discription {
  font-family: "adobe-jenson-pro", "source-han-serif-japanese", Georgia, "Times New Roman", Times, serif;
}
#ok-main-contact #ok-main-contact__discription .text-en {
  font-size: 1.1rem;
  margin-bottom: 0.4rem;
}
#ok-main-contact #ok-main-contact__discription .text-jp {
  font-size: 0.7rem;
  font-weight: 700;
  font-feature-settings: "palt";
}

@media (min-width: 576px) {
  #ok-main-contact {
    height: 90vh;
  }
}
@media (min-width: 768px) {
  #ok-main-contact #ok-main-contact__title h1 {
    font-size: 2.5rem;
  }
  #ok-main-contact #ok-main-contact__title h2 {
    font-size: 1.2rem;
  }
  #ok-main-contact #ok-main-contact__discription .text-en {
    font-size: 2rem;
    margin-bottom: 0.4rem;
  }
  #ok-main-contact #ok-main-contact__discription .text-jp {
    font-size: 1rem;
    font-weight: 700;
    font-feature-settings: "palt";
  }
}
#ok-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7vh;
  border-top: #000 solid 1px;
}
#ok-footer h1 {
  margin-bottom: 0;
  font-size: 0.8rem;
  font-weight: 700;
}
