@charset "UTF-8";
body {
  background-color: rgba(13, 0, 0, 0.9);
}

p {
  font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "YuGothic", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "ＭＳ ゴシック", sans-serif;
}

.ok-header {
  margin-top: 12px;
}
.ok-header .ok-logotype {
  font-family: myriad-pro, source-han-sans-japanese, sans-serif;
  font-style: normal;
  font-weight: 700;
}
.ok-header .ok-logomark__block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50px;
}
.ok-header .ok-logomark {
  fill: white;
}
.ok-header .ok-header__title {
  margin-bottom: 0;
  font-size: 30px;
  font-size: 1.875rem;
  color: white;
  text-align: center;
}
.ok-header .ok-header__description {
  font-size: 12px;
  font-size: 0.75rem;
  font-family: myriad-pro, source-han-sans-japanese, sans-serif;
  font-weight: 700;
  color: white;
  text-align: center;
}

.ok-banner__top {
  padding-top: 35px;
  padding-bottom: 35px;
  background: white;
}
.ok-banner__top h1 {
  margin-bottom: 0;
  font-size: 30px;
  font-size: 1.875rem;
  font-family: myriad-pro, source-han-sans-japanese, sans-serif;
  font-weight: 700;
  line-height: 1.2em;
}

.ok-content .ok-h2 {
  font-size: 20px;
  font-size: 1.25rem;
  font-family: myriad-pro, source-han-sans-japanese, sans-serif;
}

.ok-footer {
  text-align: center;
}
.ok-footer p {
  color: white;
  font-family: myriad-pro, source-han-sans-japanese, sans-serif;
  font-weight: 400;
}

.fontweight100 {
  font-weight: 100;
}

.fontweight200 {
  font-weight: 200;
}

.fontweight300 {
  font-weight: 300;
}

.fontweight400 {
  font-weight: 400;
}

.fontweight500 {
  font-weight: 500;
}

.fontweight700 {
  font-weight: 700;
}

.fontweight900 {
  font-weight: 900;
}

.fontsize01 {
  font-size: 0.1em;
}

.fontsize02 {
  font-size: 0.2em;
}

.fontsize03 {
  font-size: 0.4em;
}

.fontsize04 {
  font-size: 0.4em;
}

.fontsize05 {
  font-size: 0.5em;
}

.fontsize06 {
  font-size: 0.6em;
}

.fontsize07 {
  font-size: 0.7em;
}

.fontsize08 {
  font-size: 0.8em;
}

.fontsize09 {
  font-size: 0.9em;
}

.fontsize10 {
  font-size: 1em;
}

.fontkerning04 {
  margin-left: -0.4em;
}
