.ok-logotype {
  font-family: myriad-pro, sans-serif;
  font-style: normal;
  font-weight: 700;
}

.ok-header {
  background-color: rgba(13, 0, 0, 0.9);
}
.ok-header .ok-logomark__block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50px;
}
.ok-header .ok-logomark {
  fill: #fff;
}
.ok-header .ok-header__title {
  font-size: 20px;
  font-size: 1.25rem;
  color: #fff;
  text-align: center;
}
.ok-header .ok-header__description {
  color: #fff;
}
